.readingPanel {
    width: 1000px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 30px;
    border: 1px solid gray;
    .title {
        font-size: 28px;
        margin: 10px 0;
    }
}