@import "src/styles/utils.scss";

.readingPanel {
    width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
    padding: 10px 30px;
    border: 1px solid gray;
    text-align: left;
    overflow: scroll;
    @include respond-to(mobile) {
        width: 100%;
        border-bottom: none;
        height: calc(100% - 250px);
    }
    .title {
        font-size: 28px;
        margin: 10px 0;
        text-align: center;
    }
}