@import "./utils.scss";

.app {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    min-width: 755px;
    @include respond-to(mobile) {
     flex-direction: column;
     min-width: unset;
    }
}