@import "src/styles/utils.scss";

nav {
  width: 100%;
  text-align: right;
  @include respond-to(mobile) {
  display: flex !important;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px;
  }
  .item {
    display: block;
    padding: 0 10px;
    height: 30px;
    line-height: 30px;
    color: rgb(146,153,163);
    cursor: pointer;
    &:hover {
      background-color: rgb(242,243,243);
      color: rgb(120,129,141);
      border-radius: 6px;
    }
  }
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 400px;
  padding: 40px !important;
  overflow: scroll;
  position: relative;
  @include respond-to(mobile) {
    flex-direction: row;
    width: 100%;
    height: 50px;
    padding: 0 !important;
    justify-content: space-between;
  }
}

// 搜索
.searchbar {
  width: 100% !important;
  margin: 10px 0 !important;
  @include respond-to(mobile) {
    display: none !important;
  }
}

// 近期文章
.recentPosts {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 20px;
  @include respond-to(mobile) {
    width: 100%;
    margin-right: 30px;
    padding: 20px !important;
    height: 200px;
    margin-top: 0;
    overflow: scroll;
  }
  .recentPostsHeader {
    font-size: 25px;
    font-weight: bold;
    color: black;
    margin-bottom: 10px;
  }
  .postRow {
    display: flex;
    flex-direction: column;
    padding: 8px;
    border-radius: 6px;
    color: black;
    cursor: pointer;
    &:hover {
      background-color: black;
      color: white;
    }
    @include respond-to(mobile) {
      width: 100% !important;
    }
    .postRowTitle {
      font-size: 14px;
    }
    .postRowTimestamp {
      font-size: 12px;
    }
  }
}

.categoryRow {
  display: flex;
  flex-direction: row;
  padding: 8px;
  border-radius: 6px;
  color: black;
  font-size: 14px;
  cursor: pointer;
  &:hover {
    background-color: black;
    color: white;
  }
  @include respond-to(mobile) {
    width: 100% !important;
  }
  .count {
    padding-left: 5px;
  }
}

.desktop {
  width: 100%;
  @include respond-to(mobile) {
   display: none !important;
  }
}

.mobile {
  @include respond-to(desktop) {
   display: none !important;
  }
}