.modal {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 4;
  background: rgba(233, 234, 236, 0.9);
  left: 0;
  top: 0;
}

.body {
  width: 279px;
  height: 179px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 8px;
  input {
    background-color: transparent;
    border: none;
    text-align: left;
    border: 1px solid lightgray;
    border-radius: 3px;
    margin: 5px;
    padding-left: 10px;
    &:focus {
      outline: none;
    }
  }
}

// action button
.actionBar {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.confirm {
  &:hover {
    background-color: rgb(252, 248, 211);
    color: black;
    border-radius: 6px;
  }
}

.cancel {
  &:hover {
    background-color: rgb(255, 125, 128);
    color: white;
    border-radius: 6px;
  }
}

.base {
  display: block;
  align-self: flex-end;
  padding: 0 10px;
  height: 25px;
  line-height: 25px;
  color: #878f9a;
  background-color: #e9eaec;
  width: 50px;
  border-radius: 7px;
  font-size: 14px;
  cursor: pointer;
  margin: 0 5px;
  text-align: center;
}

.errmsg {
  text-align: center;
  margin-top: 10px;
  user-select: none;
  color: #d90c24;
}